.sleep {
  padding-bottom: 141px;
  &__flower {
    position: absolute;
    bottom: 116px;
    right: -160px;
  }
}

.sleep-slider {
  .slider-item {
    &__sleep-info {
      margin-right: -57px;
    }
  }
}