.surf {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 157px 0 120px;
  &__bg-title {
    position: absolute;
    top: 192px;
    left: 0;
  }
  &__title {
    display: inline-block;
    padding-left: 245px;
    margin-bottom: 70px;
  }
  &__current-location {
    margin-right: 80px;
  }
  &__geolocation-bg {
    position: absolute;
    top: 220px;
    right: 0;
    width: 295px;
    height: 350px;
    transform: translateX(50%);
  }
  &__coordinates {
    position: absolute;
    top: 538px;
    right: 80px;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 8px;
    color: $white;
    text-transform: uppercase;
    opacity: .25;
    transform: rotate(-90deg);
    transform-origin: bottom right;
  }
}

.surf-map {
  // max-width: 1200px;
  // max-height: 635px;
  width: 1200px;
  height: 635px;
  margin: -22px auto 0;
  background: no-repeat center/cover;
  &__locations {

  }
}

.surf-locations {
  position: relative;
  &__location {

  }
}

.surf-location {
  position: absolute;
  &:nth-of-type(1) {
    top: 330px;
    left: -13px;
  }
  &:nth-of-type(2) {
    top: 290px;
    left: 136px;
  }
  &:nth-of-type(3) {
    top: 318px;
    left: 338px;
  }
  &:nth-of-type(4) {
    top: 501px;
    left: 413px;
  }
  &:nth-of-type(5) {
    top: 212px;
    left: 530px;
  }
  &:nth-of-type(6) {
    top: 555px;
    left: 637px;
  }
  &:nth-of-type(7) {
    top: 395px;
    left: 798px;
  }
  &:nth-of-type(8) {
    top: 480.5px;
    left: 1089.5px;
  }
  &_active {
    .surf-location__dot {
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 20px solid $main;
        border-left: 13px solid transparent;
        border-right: 13px solid transparent;
        top: -10px;
        left: -1px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
      }
    }
    .surf-location__content {
      opacity: 1;
    }
  }
  &__dot {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $main;
    cursor: pointer;
  }
  &__content {
    padding: 28px 32px;
    border-radius: 6px;
    background-color: rgba($location-card-bg, .7);
    transform: translate(calc(-50% + 12px), calc(-100% - 50px));
    opacity: 0;
    transition: .5s;
    pointer-events: none;
  }
  &__upper-part {
    margin-bottom: 30px;
  }
  &__title-wrapper {
    display: flex;
    margin-bottom: 14px;
  }
  &__title {
    position: relative;
    margin-right: 94px;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.44;
    color: $white;
    white-space: nowrap;
    text-transform: uppercase;
  }
  &__link {
    img {
      width: 16px;
      height: 13px;
    }
  }
  &__subtitle {
    font-size: 16px;
    line-height: 1.18;
    color: $white;
  }
  &__bottom-part {}
  &__info-list {}
  .location-list {
    display: flex;
    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.3333%;
    }
    &__item-img {}
    &__item-value {
      font-weight: 800;
      font-size: 16px;
      line-height: 1.43;
      color: $white;
    }
    &__item-description {
      font-weight: 300;
      font-size: 10px;
      line-height: 1.2;
      color: $white;
    }
  }
}

.surf-slider {
  position: relative;
  padding-top: 110px;
  &__arrows {
    position: absolute;
    top: 58px;
    right: 80px;
    z-index: 2;
    button {
      width: 25px;
      height: 20px;
      border: none;
      opacity: .25;
      background-color: transparent;
      cursor: pointer;
      &:nth-of-type(1) {
        margin-right: 20px;
      }
    }
  }
  .slider-item {
    position: relative;
    min-height: 750px;
    padding: 72px 0 0 40px;
    background: no-repeat center/cover;
    &:nth-of-type(4n + 1) {
      margin-top: 32px;
    }
    &:nth-of-type(4n + 3) {
      margin-top: 89px;
    }
    &.slick-current, &:hover {
      .slider-item__overlay {
        opacity: .3;
      }
      .slider-item__link {
        opacity: 1;
      }
    }
    &__overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $overlay;
      opacity: .85;
      transition: 1s;
    }
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      min-height: 678px;
      z-index: 1;
    }
    &__title {
      word-spacing: 750px;
    }
    &__location {
      display: flex;
      position: absolute;
      left: 38px;
      bottom: 80px;
      color: $white;
      font-family: Fira Sans;
      font-size: 18px;
      line-height: 1.22;
      letter-spacing: 8px;
      text-transform: uppercase;
      transform: rotate(-90deg) translateY(-100%);
      transform-origin: top left;
      .divider {
        font-weight: 100;
      }
    }
    &__link {
      height: 80px;
      opacity: 0;
      transition: 1s;
    }
  }
}

@media (max-width: 2200px) {
  .surf {
    overflow: hidden;
  }
}