.travel {
  padding-bottom: 154px;
  &__cocktail {
    position: absolute;
    bottom: -90px;
    right: -242px;
    z-index: -1;
  }
}

.travel-slider {
  .slider-item {
    &__travel-info {
      margin-right: -57px;
    }
  }
}