/* BASE */
body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  background-color: $bg;
}

.container {
  position: relative;
}

.to-action {
  display: flex;
  font-size: 40px;
  font-weight: 800;
  line-height: .9;
  color: $white;
  text-transform: uppercase;
  cursor: default;
  user-select: none;
  &__first-half, &__second-half {
    display: flex;
    align-items: center;
    padding: 0 18px;
  }
  &__second-half {
    position: relative;
    height: 100%;
    background-color: $main;
    color: $white;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 20px;
      height: 1px;
      background-color: $white;
      transform: translate(-50%, -50%);
    }
  }
}

.suptitle {
  display: inline-block;
  position: relative;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 7.33px;
  text-transform: uppercase;
  color: rgba($white, .5);
}

.title {
  color: $white;
  font-weight: 800;
  text-transform: uppercase;
  &_normal {
    line-height: .9;
    font-size: 40px;
  }
  &_big {
    line-height: 1.075;
    font-size: 80px;
  }
  &_page {
    line-height: 0.78;
    font-size: 200px;
    opacity: .02;
    transform: translateX(-49px);
    cursor: default;
    user-select: none;
  }
}

.line {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
  }
  &_left {
    &::before {
      left: 0;
      top: 50%;
      background-color: rgba($white, .5);
      transform: translate(calc(-100% - 24px), -50%);
    }
  }
  &_right {
    &::before {
      right: 0;
      top: 50%;
      background-color: rgba($white, .5);
      transform: translate(calc(100% + 24px), -50%);
    }
  }
  &_top {
    &::before {
      right: 0;
      top: 0;
      background-color: $main;
    }
  }
  &_bottom {
    &::before {
      left: 0;
      bottom: 0;
      background-color: $main;
      transform: translateY(5px);
    }
  }
}

.current-location {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  &__suptitle {
    margin-bottom: 8px;
  }
}

.location {
  display: flex;
  line-height: 1.2;
  font-size: 40px;
  color: $white;
  text-transform: uppercase;
  &__town, &__country {
    font-weight: 800;
  }
  &__divider {
    font-weight: 100;
  }
}

.slider-arrows {
  z-index: 2;
  button {
    width: 25px;
    height: 20px;
    border: none;
    opacity: .25;
    background-color: transparent;
    cursor: pointer;
    &:nth-of-type(1) {
      margin-right: 20px;
    }
  }
}

.default-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  &__bg-title {
    position: absolute;
    top: 192px;
    left: 0;
    z-index: 1;
  }
  &__title {
    display: inline-block;
    padding-left: 245px;
    margin-bottom: 170px;
  }
}

.default-slider {
  position: relative;
  .slider-arrows {
    position: absolute;
    top: 125px;
    right: 80px;
  }
  .slider-item {
    position: relative;
    &__location {
      margin-bottom: 494px;
      margin-right: 80px;
    }
    &__bg-image {
      position: absolute;
      top: -92px;
      left: 0;
      background-color: $bg;
      z-index: -1;
      img {
        width: 1115px;
        height: 780px;
      }
    }
    &__airline, &__rating {
      margin-bottom: 120px;
      margin-left: 135px;
    }
    &__airline-suptitle, &__rating-suptitle {
      margin-bottom: 8px;
    }
    &__airline-title, &__rating-title {
      display: flex;
      align-items: center;
    }
    &__airline-logo, &__rating-stars {
      display: flex;
      margin-left: 26px;
    }
    &__travel-info, &__sleep-info {
      margin-bottom: 66px;
      margin-left: 157px;
    }
    &__book-flight, &__book-stay {
      display: flex;
      justify-content: center;
      height: 80px;
    }
  }
  .slick-list {
    overflow: visible;
  }
  .slick-arrow.slick-hidden {
    display: inline-block;
  }
}

.default-slide-info {
  display: flex;
  height: 195px;
  margin-right: -57px;
  &__item {
    position: relative;
    width: calc(25% - 57px);
    margin-right: 57px;
  }
  &__item-wrapper {
    display: inline-block;
  }
  &__item-description {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 195px;
    top: 167px;
    left: 0;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 8px;
    color: rgba($white, .5);
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: bottom left;
  }
  &__item-value {
    margin-left: 18px;
  }
  &__item-round {
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 2.5;
    letter-spacing: 5.25px;
    color: rgba($white, .75);
    text-transform: uppercase;
    cursor: pointer;
  }
  &__item-calc {
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
    img {
      cursor: pointer;
    }
    img + img {
      margin-left: 16px;
    }
  }
}

@media (max-width: 2200px) {
  .travel, .sleep, .surf {
    overflow: hidden;
  }
}